@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
body {
    font-family: Montserrat;
    font-size: 16px;
}

/* header styles */
.header-container {
    display: flex;
    align-items: center;
    padding: 2.2em 1.94em;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {

}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-item {
    margin-left: 3.1em;
}

.blue-button {
    text-transform: uppercase;
    background-color: #7AE5FD;
    padding: 1.15em 1.94em;
    border-radius: 4.8rem;
    margin-left: 1.3em;
    font-family: Montserrat;
    font-size: 1.125em;
    font-weight: 400;
    border: none;
}

/* first screen */

.first-screen {
    background-image: url('./image/Frame.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 14vh;
}

.first-screen-container {
    width: 50%;
    margin-left: 6.56em;
}

.main-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 4.06em;
    color: white;
    width: 9em;
}
  
.main-description {
      margin-top: 1.25em;
      font-size: 1.25em;
      font-weight: 400;
      width: 20em;
}
  
.white-button {
    margin-top: 1.25em;   
    background-color: white;
    margin-left: 0;
}

.block-img {
    max-width: 36.5em;
    margin-left: 3.875em;
}

.description-title {
	padding: 10em 4.43em;
	text-align: center;
	font-weight: 400;
    max-width: 62.75em;
    margin: 0 auto;
}

.desc-title {
	font-size: 3.75em;
	text-transform: uppercase;
	letter-spacing: -1.2px;
}

.desc-title-2 {
	font-size: 1.68em;
	margin-top: 0.62em;
}

.desc-title-3 {
	color: #73A6B1;
	font-size: 1.25em;
	margin-top: 0.62em;
}

.description-block-1 {
    display: flex;
    padding: 2.5em 3.875em;
    background-color: #F1FDFF;
}

.description-block-2 {
    margin-top: 3.125em;
    display: flex;
    padding: 2.5em 3.875em;
    background-color: #F1FDFF;
}

.flex-wrapper {
    margin-top: 6em;
    width: 32.9375em;
}

.description-screen {
    padding: 0em 4.43em 16em 4.43em;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 3.125em;
}

.desc-header {
    font-size: 2.875em;
    text-transform: uppercase;
    font-weight: 400;
}

.desc-text {
    margin-top: 0.625em;
    font-size: 1.25em;
    font-weight: 400;   
}

.second-screen {
    margin-top: 6em;
	padding: 10em 5.4375em;
}

.second-screen-block {
	display: flex;
	align-items: center;
	padding: 3.875em 4.625em;
	background-color: #F1FDFF;
}

.second-text {
	align-self: stretch;
	max-width: 22em;
	font-size: 1.6875em;
}

.image-screem {
    position: relative; /* Make the container a positioning context */
}

.phone-image {
    position: absolute;
    top: -25.5em;
    left: 40em;
}

.kids-image {
    position: absolute;
    top: -35.5em;
    left: 50em;
}

.pidtrimka-screen {
    display: flex;
    padding: 0em 4.4375em 10em 4.4375em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pidtrimka-header {
    text-align: center;
}

.pidtrimka-h3-text {
    font-size: 3.75em;
    font-weight: 400;
    letter-spacing: -1.2px;
    text-transform: uppercase;
}

.pidtrimka-p-text {
    margin-top: 0.9375em;
    color: #73A6B1;
    font-size: 1.25em;
}

.pidtrimka-sbor {
    margin-top: 3.125em;
}

.sbor-h2-text {
    text-align: center;
    font-size: 1.6875em;
    font-weight: 400;
}

.sbor-list {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sbor-item {
    margin-left: 13px;
    font-size: 3.75em;
}

.vector-image {
    margin-top: 0.15em;
}

/* contact screen */

.contact-screen {
    padding: 0em 4.4375em 10em 4.4375em;
    background-color: #F9FADF;
}

.description-contact {
    display: flex;
    padding-top: 3.125em;
    justify-content: center;
    align-items: flex-start;
}

.head-contact {
    width: 37.65625em;
    align-self: stretch;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.head-contact-text {
    text-align: center;
    font-size: 3.75em;
    font-weight: 400;
    letter-spacing: -1.2px;
    text-transform: uppercase;
}

.head-contact-2{
    margin-left: 5.8125em;
    width: 37.65625em;
    align-self: stretch;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.contact-info-text-1 {
    width: 440px;
    font-size: 20px;
}

.contact-info-text-number {
    width: 440px;
    font-size: 20px;
    font-weight: 700;
}

.img-teleg-whatsapp {
    display: flex;
    flex-direction: row;
    margin-top: 57px;
}

.whats-image {
    margin-left: 1em;
}

.subsribe-contact {
    margin-top: 50px;
    padding: 60px;
    background-color: white;
    align-self: stretch;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.email-img {
    width: 541.5px;
}

.block-email-info {
    margin-left: 5.8125em;
}

.email-info-text {
    max-width: 20em;
    font-size: 1.8em;
    font-weight: 400;
}

.email-button {
    margin-top: 2.4375em;
    border: none;
    font-family: Montserrat;
    background-color: #F9FADF;
    font-size: 1.25em;
    display: flex;
    padding: 1.3125em 25em 1.3125em 2.6875em;
    border-radius: 61px;
    max-width: 541.5px;
}

.email-button-2 {
    margin-top: 1.9375em;
}


.subscribe-button {
    margin-top: 1.9375em;
    background-color: #7AE5FD;
    text-transform: uppercase;
    display: flex;
    padding: 23px 250px;
    justify-content: center;
    align-items: center;
}
